p-red= #EA1E21;
p-yellow= #FCE407;
p-orange=#F18E07;



body,html {
  padding: 0;
  margin: 0;
}

a.button {

    text-decoration: none;
    color: initial;
    text-align: center;
    display: inline;
}

.button-holder {
  width: 560px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  background-color: black;
  padding-top: 5px;
  padding-bottom:5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}


@media screen and (min-width: 800px) {
  /* .wrapper {
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:auto;
  }
  .grid1 {
    grid-column: 1/4;
    grid-row:1/4;
  }
  .grid2 {
    grid-column: 4/10;
    grid-row:1/4;
  }
   .grid3 {
    grid-column: 10/13;
    grid-row:1/4;
    align-items:flex-end;
    justify-content:flex-end;
  }
  .grid4 {
    grid-column: 1/5;
    grid-row:4/8;
  }
  .grid5 {
    grid-column: 5/9;
    grid-row:4/8;
  }
  .grid6 {
    grid-column: 9/13;
    grid-row:4/8;
  }
  .grid7 {
    grid-column: 1/4;
    grid-row:8/12;
  }
  .grid8 {
    grid-column: 4/10;
    grid-row:8/12;
  }
  .grid9 {
    grid-column: 10/13;
    grid-row:8/12;
  }

#i2, #i1, #i3, #i9, #i8, #i7, #i4, #i5, #i6 {
   width:100%;
}

#i1, #i2, #i8 {

}



#i8 {
  padding-top:35px;
} */
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid {
    width: 97%;
  }
}

.last{
  margin-bottom:25px;
}

.letters {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  transition: all .3s ease;
  /* display: block; */
  max-width: 800px;
 height: auto;
}

img < .wrapper {
  width: 80px;
}

.photo {
  margin: auto;
  width: 600px;
  display: block;
  padding: 30px;
  transition: all .3s ease;
}

h1 {
  text-align: center;
}

p.intro {
  width: 560px;
  margin: auto;
  padding: 20px;
}
.intro {
  border-style: groove;
  padding: 20px;
}
#ad {
  margin-top:30px;
  margin-bottom:0px;
}

.logo {
  width: 250px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

.logoElem {
  width: 250px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.elem {
    float: left;
}

.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav:hover {
    background-color: #111;
}

.short {
  text-align: center;
}
/*///////////////////////////////////////////////*/
div.grid {
  color:white;
  text-align:center;
  text-decoration: underline;
}



/*////////////////////////////////////////////*/
#footer {
  list-style-type: none;
  height: 50px;
  width: 100%;
  bottom:0;
  position: absolute;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
p.footer, a.footer{
  padding: 15px;
  color: white;

}

.footer {
  text-align: center;
}
#content {
  min-height: 100%;
  position: relative;
}
#contactbody {
  padding-bottom:5px;
}

html {
  height:100%;
}
body {
  height: 100%;
}

/* //////////////////////////////////////////////// */
#contactForm {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top:1em;
}

#loadForm {

}

#saveForm {
  margin-bottom:15px;
  align-content:flex-end;
  text-align: right;
  width: 600px;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {

  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}
